<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Word Tree</title>
</head>

<body>
    <header>
        <div class="logo"></div>
        <h1><%= title %></h1>
        <h3><%= description %></h3>
    </header>
    <form class="opinion-form" method="POST" action="./thanks">
        <h3>Nickname:</h3><input type="text" id="name" name="name">
        <h3>Opinion:</h3><textarea id="opinion" name="opinion"></textarea> <input type="submit" value="submit">
    </form>
    <a class="arrow-left" href="/"></a>
    <h5>Develop By Raymond</h5>
</body>

</html>

<style>
    html,
    html body,
    html body header,
    html body .opinion-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    html {
        color: #3e4a59;
        font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體",
            sans-serif;
    }

    html h1,
    html h2,
    html h3,
    html h4,
    html h5,
    html h6 {
        margin: 5px 0;
    }

    html h1 {
        font-size: 36px;
        letter-spacing: 2px;
    }

    html h3 {
        font-size: 14px;
        letter-spacing: 1px;
    }

    html h5 {
        font-size: 12px;
    }

    html body {
        width: 100vw;
        height: 100vh;
        position: relative;
        max-width: 480px;
        margin: 0;
        white-space: pre-line;
    }

    html body header {
        margin-top: 5vh;
    }

    html body header .logo {
        width: 80px;
        height: 80px;
        background-size: cover;
        background-image: url('../../images/logo.png');
        margin-bottom: 5px;
    }

    html body header h3 {
        max-width: 320px;
        color: rgba(62, 74, 89, 0.6);
        text-align: center;
    }

    html body .opinion-form {
        width: 80vw;
        max-width: 300px;
        align-items: flex-start;
        flex: 99;
        margin: 2vh 5vw;
    }

    html body .opinion-form input[type="text"],
    html body .opinion-form textarea,
    html body .opinion-form input[type="submit"] {
        width: 100%;
        border: 1px rgba(62, 74, 89, 0.6) solid;
        border-radius: 10px;
        padding: 5px;
    }

    html body .opinion-form h3 {
        margin: 1.5vh 0 5px 2px;
    }

    html body .opinion-form input[type="text"] {
        height: 25px;
    }

    html body .opinion-form textarea {
        height: 150px;
    }

    html body .opinion-form input[type="submit"] {
        align-self: center;
        width: 60px;
        height: 30px;
        margin-top: 2.5vh;
        font-weight: 600;
        color: #3e4a59;
    }

    html body .arrow-left {
        position: absolute;
        left: 5vw;
        top: 10px;
        min-width: 30px;
        min-height: 30px;
        background-image: url('../../images/left.svg');
        background-size: cover;
    }
</style>