<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Word Tree</title>
</head>

<body>
    <header>
        <div class="logo"></div>
    </header>
    <div class="thanks">
        <h1>Thanks</h1>
        <h2>For</h2>
        <h1>Your Opinion</h1><a href="/">Go Back To Home Page</a>
    </div>
    <h5>Develop By Raymond</h5>
</body>

</html>

<style>
    html,
    html body,
    html body header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    html {
        color: #3e4a59;
        font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體",
            sans-serif;
    }

    html h1,
    html h2,
    html h3,
    html h4,
    html h5,
    html h6 {
        margin: 5px 0;
    }

    html h1 {
        font-size: 38px;
        letter-spacing: 2px;
    }

    html h2 {
        font-size: 30px;
        letter-spacing: 2px;
        line-height: 40px;
    }

    html h3 {
        font-size: 14px;
        letter-spacing: 1px;
    }

    html h5 {
        font-size: 12px;
    }

    html body {
        width: 100vw;
        height: 100vh;
        position: relative;
        max-width: 480px;
        margin: 0;
    }

    html body header {
        margin-top: 16vh;
        white-space: pre-line;
    }

    html body header .logo {
        width: 80px;
        height: 80px;
        background-size: cover;
        background-image: url('../../images/logo.png');
        margin-bottom: 5px;
    }

    html body .thanks {
        flex: 99;
        text-align: center;
        padding: 3vh;
    }

    html body .thanks a {
        line-height: 30vh;
        font-size: 12px;
        font-weight: bold;
        color: rgba(62, 74, 89, 0.6);
    }
</style>